.article {
  padding: 50px;
  margin: 40px;
  .motto {
    font-size: 1.4rem;
    padding: -10px;
    margin: 20px 0 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-family: $text;
    color: $fourth-color;
  }
  .history {
    font-size: 1.5rem;
    padding: -10px;
    margin: 20px 0 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-family: $text;
    color: $fourth-color;
  }
}
.img {
  box-shadow: 10px 10px 5px $main-color;
  margin: 10px;
}
.workers {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  .worker {
    box-shadow: 10px 10px 5px $main-color;
    background-color: $fourth-color;
    border-radius: 10px;
    height: 300px;
    width: 300px;
    margin: 50px;
    font-family: $text;
    .profile{
      height: 100px;
      border-radius: 10px;
      margin: 5px;
    }
  }
}

.text{
  color: $fourth-color;
  font-family: $text;
}