main {
  min-height: calc(100vh - 82px - 57px);
  display: flex;
  justify-content: center;
  background-color: $third-color;
  .main-content {
    width: 1400px;
    text-align: center;
    h1{
     font-family: $rubrik;
     color: $fourth-color;
    }
    .links {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      margin-top: 90px;
      .CTA {
        background-color: $secondary-color;
        color: $fourth-color;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 10px 10px 5px $main-color;
        font-family: $text;
      }
      .CTA:hover {
        background-color: $third-color;
      }
    }
  }
}

.ai-art {
  display: flex;
  justify-content: space-around;
  .img {
    box-shadow: 10px 10px 5px $main-color;
  }
}

@media (max-width: 500px) {
  .links {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    flex-wrap: wrap;
    .CTA {
      margin: 10px 0 10px 0;
    }
  }

  .ai-art {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    .img {
      margin: 10px;
    }
  }
}


