//Flex postionings

@media (max-width: 920px) {
    .product-card {
        flex: 1 21%;
    }
}

@media (max-width: 600px) {
    .product-card {
        flex: 1 46%;
    }
}

@media (max-width: 480px) {
    .product-filter {
        flex-direction: column;
    }
    .sort {
        align-self: flex-start;
    }
}

.product-h2, .product-h3 {
    font-size: 1rem;
}
.product-filter {
    display: flex;
    h1 {
        flex-grow: 1;
        width: 100%;
    }
    .sort {
        display: flex;
        
        .collection-sort {
            display: flex;
            flex-direction: column;
        }
    }
}

.products {
    display: flex;
    flex-wrap: wrap;
    
    .product-card{
        padding: 2%;
        flex-grow: 1;
        flex-basis: 16%;
        flex-direction: column;
        border-color: $fourth-color;
        border-style: groove;
        border-width: 3px;
        margin: 0.5%;
        border-radius: 5px;
        background-color: $secondary-color;
       

        .product-info {
            margin-top: auto;
        }

        display: flex;
        .product-image img {
            max-width: 100%;
            border-color: $fourth-color;
            border-style: groove;
            border-width: 3px;
            border-radius: 5px;
        }
    }
}

.collection-sort {
    padding: 0 1rem;
}


.product-body {
    background: $third-color;
    color: $fourth-color;
}

.product-filter {
    background-color: $secondary-color;
    color: $fourth-color;
}

.product-h1 {
    background-color: $secondary-color;
    color: $fourth-color;
    padding: 0 1rem;
}
.product-card {
    
    .buy-button {
        background-color: $secondary-color;
        color: $fourth-color;
        padding: 0 1rem;
        border-color: $fourth-color;
        margin-top: 1rem;
        border-radius: 5px;
        &:active {
            background-color: $fourth-color;
            color: $secondary-color;
        }
    }

    .product-image{
        border-radius: 5px;
    }
}

