$main-color:#23213b;
$secondary-color:#3b304e;
$third-color:#63446b;
$fourth-color:#ffffff;


$text:"work-sans", sans-serif;
$rubrik:"Raleway", sans-serif;


@mixin placeholder-color {
    &::-webkit-input-placeholder {
      color: $fourth-color;
    }
    &:-moz-placeholder {
      color: $fourth-color;
    }
    &::-moz-placeholder {
      color: $fourth-color;
    }
    &:-ms-input-placeholder {
      color: $fourth-color;
    }
  }