* {
  box-sizing: border-box;
}

.reference-body {
  background-color: #63446b;
}

#reviews {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: #23213b;
}
#reviews .reviews-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  background-color: #63446b;
  padding-bottom: 4.9rem;
}
#reviews .review-box {
  width: 500px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.3);
  background-color: #3b304e;
  border-radius: 10%/50%;
  padding: 20px;
  margin: 15px;
  cursor: pointer;
}
#reviews .review-box .box-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 20px;
}
#reviews .review-box .box-top .user-comment p {
  font-size: 0.9rem;
  color: #ffffff;
  margin-top: 0.5rem;
  font-family: "work-sans", sans-serif;
}
#reviews .review-box .box-top .profil {
  display: flex;
  align-items: center;
}
#reviews .review-box .box-top .profil .reviews {
  color: yellow;
  margin-left: 1rem;
}
#reviews .review-box .box-top .profil .profil-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}
#reviews .review-box .box-top .profil .profil-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
#reviews .review-box .box-top .profil .username {
  display: flex;
  flex-direction: column;
}
#reviews .review-box .box-top .profil .username strong {
  color: #ffffff;
  font-size: 1.2rem;
  letter-spacing: 0.5px;
}
#reviews .review-box .box-top .profil .username span {
  color: rgb(226, 190, 255);
  font-size: 0.8rem;
}
#reviews .reviews-heading {
  letter-spacing: 1px;
  margin: 30px 0px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#reviews .reviews-heading .reference-h1 {
  font-size: 2.1rem;
  font-weight: 500;
  color: #ffffff;
  background-color: #63446b;
  padding: 10px 20px;
  border-radius: 10px;
}
#reviews .reviews-heading span {
  font-size: 1.2rem;
  font-weight: 400;
  color: #23213b;
  background-color: #ffffff;
  padding: 10px 20px;
  border-radius: 10px;
  text-transform: uppercase;
}

@font-face {
  font-family: "Cinnamon";
  src: url("/Cinnamon.ttf");
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #63446b;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  color: #ffffff;
  background-color: #63446b;
}
input[type=text]::-webkit-input-placeholder, select::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #ffffff;
}
input[type=text]:-moz-placeholder, select:-moz-placeholder, textarea:-moz-placeholder {
  color: #ffffff;
}
input[type=text]::-moz-placeholder, select::-moz-placeholder, textarea::-moz-placeholder {
  color: #ffffff;
}
input[type=text]:-ms-input-placeholder, select:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #ffffff;
}

input[type=submit] {
  background-color: #63446b;
  color: #ffffff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  margin-bottom: 3rem;
  cursor: pointer;
  font-family: "work-sans", sans-serif;
}

input[type=submit]:hover {
  background-color: #23213b;
}

.form-container {
  border-radius: 5px;
  background-color: #3b304e;
  padding: 20px;
  padding-bottom: 3rem;
  font-family: "work-sans", sans-serif;
  color: #ffffff;
}

.contact-page {
  background-color: #23213b;
}

.office {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: white;
  font-family: "work-sans", sans-serif;
}
.img-container .bottom-left {
  background-color: #23213b;
  padding: 1rem;
  color: #ffffff;
  font-size: 1.5rem;
  border-radius: 25px;
  margin-top: auto;
}

@media (max-width: 920px) {
  .product-card {
    flex: 1 21%;
  }
}
@media (max-width: 600px) {
  .product-card {
    flex: 1 46%;
  }
}
@media (max-width: 480px) {
  .product-filter {
    flex-direction: column;
  }
  .sort {
    align-self: flex-start;
  }
}
.product-h2, .product-h3 {
  font-size: 1rem;
}

.product-filter {
  display: flex;
}
.product-filter h1 {
  flex-grow: 1;
  width: 100%;
  font-family: "Raleway", sans-serif;
}
.product-filter .sort {
  display: flex;
}
.product-filter .sort .collection-sort {
  display: flex;
  flex-direction: column;
}

.products {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3rem;
  margin-top: 0.5rem;
}
.products .product-card {
  padding: 2%;
  flex-grow: 1;
  flex-basis: 16%;
  flex-direction: column;
  border-color: #ffffff;
  border-style: groove;
  border-width: 3px;
  margin: 0.5%;
  border-radius: 5px;
  background-color: #3b304e;
  display: flex;
}
.products .product-card .product-info {
  margin-top: auto;
}
.products .product-card .product-image img {
  max-width: 100%;
  border-color: #ffffff;
  border-style: groove;
  border-width: 3px;
  border-radius: 5px;
}

.collection-sort {
  padding: 0 1rem;
  font-family: "work-sans", sans-serif;
}

.product-body {
  background: #63446b;
  color: #ffffff;
  padding-bottom: 2.8rem;
}

.product-filter {
  background-color: #3b304e;
  color: #ffffff;
  font-family: "work-sans", sans-serif;
}

.product-h1 {
  background-color: #3b304e;
  color: #ffffff;
  padding: 0 1rem;
}

.product-card .buy-button {
  background-color: #3b304e;
  color: #ffffff;
  padding: 0 1rem;
  border-color: #ffffff;
  margin-top: 1rem;
  border-radius: 5px;
  font-family: "work-sans", sans-serif;
}
.product-card .buy-button:active {
  background-color: #ffffff;
  color: #3b304e;
}
.product-card .product-image {
  border-radius: 5px;
}

.product-h3, .product-h4 {
  font-family: "work-sans", sans-serif;
}

main {
  min-height: calc(100vh - 82px - 57px);
  display: flex;
  justify-content: center;
  background-color: #63446b;
}
main .main-content {
  width: 1400px;
  text-align: center;
}
main .main-content h1 {
  font-family: "Raleway", sans-serif;
  color: #ffffff;
}
main .main-content .links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 90px;
}
main .main-content .links .CTA {
  background-color: #3b304e;
  color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 10px 10px 5px #ffffff;
  font-family: "work-sans", sans-serif;
}
main .main-content .links .CTA:hover {
  background-color: #63446b;
}

.ai-art {
  display: flex;
  justify-content: space-around;
}
.ai-art .img {
  box-shadow: 10px 10px 5px #ffffff;
}

@media (max-width: 500px) {
  .links {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    flex-wrap: wrap;
  }
  .links .CTA {
    margin: 10px 0 10px 0;
  }
  .ai-art {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .ai-art .img {
    margin: 10px;
  }
}
.article {
  padding: 50px;
  margin: 40px;
}
.article .motto {
  font-size: 1.4rem;
  padding: -10px;
  margin: 20px 0 50px 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  font-family: "work-sans", sans-serif;
}
.article .history {
  font-size: 1.5rem;
  padding: -10px;
  margin: 20px 0 50px 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  font-family: "work-sans", sans-serif;
}

.img {
  box-shadow: 10px 10px 5px #23213b;
  margin: 10px;
}

.workers {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.workers .worker {
  box-shadow: 10px 10px 5px #23213b;
  background-color: #ffffff;
  border-radius: 10px;
  height: 300px;
  width: 300px;
  margin: 50px;
  font-family: "work-sans", sans-serif;
}
.workers .worker .profile {
  height: 100px;
  border-radius: 10px;
}

* {
  padding: 0;
  margin: 0;
}

header {
  background-color: #23213b;
}

li {
  list-style: none;
}

a {
  color: #ffffff;
  text-decoration: none;
  font-family: "work-sans", sans-serif;
}

.container {
  max-width: 1224px;
  width: 90%;
  margin: 0 auto;
}
.container .navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .navbar .nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}
.container .navbar .nav-menu .nav-link {
  transition: 0.3s ease-out;
}
.container .navbar .nav-menu .nav-link:hover {
  color: dodgerblue;
}

.nav-branding {
  font-size: 2rem;
}

.hamburger {
  display: none;
  cursor: pointer;
}
.hamburger .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease;
  background-color: #ffffff;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: left;
  background-color: #3b304e;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 15px rgb(120, 50, 129);
  height: 78px;
}
footer .content {
  display: block;
  padding: 10px;
  margin: 0px auto;
  text-align: center;
  width: 400px;
}
footer .content span {
  display: inline;
}
footer .content img {
  height: 70px;
  width: 100px;
  float: left;
}

@media (max-width: 1024px) {
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu {
    position: absolute;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #3b304e;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
  .nav-item {
    margin: 16px 0;
  }
  .nav-menu.active {
    left: 0;
  }
}/*# sourceMappingURL=style.css.map */