@font-face {
  font-family: "Cinnamon";
  src: url("/Cinnamon.ttf");
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #9F73AB;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  color: #A3C7D6;
  background-color: #9F73AB;
}
input[type=text]::-webkit-input-placeholder, select::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #A3C7D6;
}
input[type=text]:-moz-placeholder, select:-moz-placeholder, textarea:-moz-placeholder {
  color: #A3C7D6;
}
input[type=text]::-moz-placeholder, select::-moz-placeholder, textarea::-moz-placeholder {
  color: #A3C7D6;
}
input[type=text]:-ms-input-placeholder, select:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #A3C7D6;
}

input[type=submit] {
  background-color: #9F73AB;
  color: #A3C7D6;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  margin-bottom: 3rem;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #3F3B6C;
}

.form-container {
  border-radius: 5px;
  background-color: #624F82;
  padding: 20px;
}

.contact-page {
  background-color: #3F3B6C;
}

.office {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.img-container {
  display: flex;
  justify-content: center;
  position: relative;
  text-align: center;
  color: white;
  -webkit-text-stroke: 1px black;
}
.img-container .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(111, 51, 126, 0.9);
  padding: 1rem;
  color: #A3C7D6;
  font-size: 2rem;
  border-radius: 25px;
}
.img-container .bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
  background-color: rgba(111, 51, 126, 0.8);
  padding: 1rem;
  color: #A3C7D6;
  font-size: 1.5rem;
  border-radius: 25px;
}

@media (max-width: 920px) {
  .product-card {
    flex: 1 21%;
  }
}
@media (max-width: 600px) {
  .product-card {
    flex: 1 46%;
  }
}
@media (max-width: 480px) {
  .product-filter {
    flex-direction: column;
  }
  .sort {
    align-self: flex-start;
  }
}
.product-h2, .product-h3 {
  font-size: 1rem;
}

.product-filter {
  display: flex;
}
.product-filter h1 {
  flex-grow: 1;
  width: 100%;
}
.product-filter .sort {
  display: flex;
}
.product-filter .sort .collection-sort {
  display: flex;
  flex-direction: column;
}

.products {
  display: flex;
  flex-wrap: wrap;
}
.products .product-card {
  padding: 2%;
  flex-grow: 1;
  flex-basis: 16%;
  flex-direction: column;
  display: flex;
}
.products .product-card .product-info {
  margin-top: auto;
}
.products .product-card .product-image img {
  max-width: 100%;
}

main {
  min-height: calc(100vh - 82px - 57px);
  display: flex;
  justify-content: center;
}
main .main-content {
  width: 1400px;
  text-align: center;
}
main .main-content .links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 90px;
}
main .main-content .links .CTA {
  background-color: #624F82;
  color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 10px 10px 5px #A3C7D6;
}
main .main-content .links .CTA:hover {
  background-color: #9F73AB;
}

.ai-art {
  display: flex;
  justify-content: space-around;
}
.ai-art .img {
  box-shadow: 10px 10px 5px #A3C7D6;
}

@media (max-width: 500px) {
  .links {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    flex-wrap: wrap;
  }
  .links .CTA {
    margin: 10px 0 10px 0;
  }
  .ai-art {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .ai-art .img {
    margin: 10px 0 10px 0;
  }
}
.article {
  padding: 50px;
  margin: 40px;
}
.article .motto {
  font-size: 1.4rem;
  padding: -10px;
  margin: 20px 0 50px 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.article .history {
  font-size: 1.5rem;
  padding: -10px;
  margin: 20px 0 50px 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.img {
  box-shadow: 10px 10px 5px #A3C7D6;
}

.workers {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.workers .worker {
  box-shadow: 10px 10px 5px #A3C7D6;
  border-radius: 10px;
  height: 300px;
  width: 300px;
  margin: 50px;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Raleway", sans-serif;
}

header {
  background-color: #3F3B6C;
}

li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

.container {
  max-width: 1224px;
  width: 90%;
  margin: 0 auto;
}
.container .navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .navbar .nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}
.container .navbar .nav-menu .nav-link {
  transition: 0.3s ease-out;
}
.container .navbar .nav-menu .nav-link:hover {
  color: dodgerblue;
}

.nav-branding {
  font-size: 2rem;
}

.hamburger {
  display: none;
  cursor: pointer;
}
.hamburger .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease;
  background-color: white;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: left;
  background-color: #624F82;
  color: #A3C7D6;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1024px) {
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #624F82;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
  .nav-item {
    margin: 16px 0;
  }
  .nav-menu.active {
    left: 0;
  }
}/*# sourceMappingURL=style.css.map */